<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>

  <div class="content-login-page">
    <ion-grid>
      <ion-col col-12>
        <ion-item no-lines class="no-bg"><br><br><br><br><br><br><br><br>
        </ion-item>
      </ion-col>
    </ion-grid>

    <ion-row class="box-login card">
      <ion-col col-12>
        <ion-item no-padding>
          <ion-label floating>E-mail</ion-label>
          <ion-input type="text" [(ngModel)]="login.email" name="email" ></ion-input>
          <small *ngFor="let emailErr of validationErrors?.email">{{emailErr}}</small>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item no-padding>
          <ion-label floating>Senha</ion-label>
          <ion-input type="password" [(ngModel)]="login.password" name="password"></ion-input>
          <small *ngFor="let passwordErr of validationErrors?.password">{{passwordErr}}</small>

        </ion-item>
      </ion-col>

      <ion-col col-12>
        <button ion-button class="btn-login" (click)="Login()" round>Entrar</button>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col col-12>
        <button ion-button (click)="goToRegisterPage()" round>Cadastre-se</button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
