page-login {
    ion-content {
        background-color: #5da3ee !important;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%234f8bca' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    }
    .content-login-page {
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-around !important;
        align-items: center !important;
        min-height: 100%;
    }
    .header-content {
        height: 200px;
    }
    .box-login {
        margin: 25px;
        padding: 0 20px 20px 20px;
        border-radius: 6px;
        min-height: 180px;
        width: 75%;
        background-color: white;
        
        ion-item {
            background-color: transparent !important;
        }
    }
    .img-logo {
        width: 90%;
        position: relative;
        left: 50%;
        margin-top: 20px;
        transform: translateX(-50%);
    }
    .btn-login {
        position: relative;
        width: 70%;
        left: 50%;
        height: 50px;
        transform: translateX(-50%);
        margin-bottom: -55px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #7cb9fc;
    }
}