<!--
  Generated template for the SearchOptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="my-custom-color">
      <span text-color="my-custom-color">Opções de busca</span>
      <ion-icon name="close" class="color-icon-nav" (click)="dismiss()" float-end  padding-left></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>

  <ion-item padding-right>
    <ion-label style="color: black;">Status</ion-label>
    <ion-select [(ngModel)]="searchOptions.isOpen">
      <ion-option value="true">Aberto</ion-option>
      <ion-option value="false">Fechado</ion-option>
    </ion-select>
  </ion-item>

</ion-content>
