<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <span text-color="my-custom-color">Cadastro</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="content-login-page">

    <ion-row class="box-login card">

      <ion-col col-12>
        <ion-item no-padding>
          <ion-label floating>Nome</ion-label>
          <ion-input type="text" [(ngModel)]="user.name" name="name" ></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item no-padding>
          <ion-label floating>E-mail</ion-label>
          <ion-input type="text" [(ngModel)]="user.email" name="email" ></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item no-padding>
          <ion-label floating>Senha</ion-label>
          <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <button ion-button class="btn-login" (click)="sendData()" round>Cadastrar</button>
      </ion-col>

    </ion-row>

  </div>

</ion-content>
