<ion-tabs  color="blue">
  <ion-tab [root]="tab1Root" tabTitle="Orçamentos" tabIcon="document"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Notificações" [tabBadge]="count" tabIcon="notifications"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Configurações" tabIcon="settings"></ion-tab>
</ion-tabs>
