<!--
  Generated template for the ChangePersonalDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <ion-title class="my-custom-color">
      <span text-color="my-custom-color">Alterar dados</span>
      <i (click)="changeData()" class="material-icons color-icon-nav" float-end>
        done
      </i>
    </ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item no-padding>
    <ion-label floating>Nome</ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>

</ion-content>
