<!--
  Generated template for the BudgetDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="my-custom-color">
      <span text-color="my-custom-color">Detalhes</span>

    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>

  <ion-grid  no-padding>

    <ion-row>
      <ion-col col-12 no-padding no-margin>
        <ion-item no-lines no-padding>
          <ion-label padding-left [style.color]="budget?.isOpen ? 'green' : 'red'" ><h3>{{ budget?.isOpen ? 'Em aberto' : 'Fechado' }}</h3></ion-label>
          <ion-toggle [(ngModel)]="isOpen"  (tap)="toggleBudget()"></ion-toggle>
        </ion-item>
      </ion-col>
      <ion-col col-12 no-padding no-margin>
        <ion-item padding-left no-lines><small>{{ budget?.createdAt }}</small></ion-item>
      </ion-col>
    </ion-row>


    <ion-item-group>
      <ion-item-divider color="light" (click)="toggleItems()">
        <h4>Produtos do orçamento</h4>
        <small>{{ budget?.items.length }} produtos</small>
      </ion-item-divider>
      <div *ngIf="showItems">
        <ion-item *ngFor="let item of budget?.items"><small>{{ item.amount }} {{ item.name }} </small></ion-item>
      </div>

      <ion-item-divider color="light" (click)="toggleResponses()">
        <h4>Respostas</h4>
        <small>{{ budget?.responses.length }} respondidos</small>
      </ion-item-divider>
      <div *ngIf="showResponses">
        <ion-item *ngFor="let response of budget?.responses">
          <h4 (click)="companyDetail(response?.company.id)" >{{ response?.company.name }} - {{ response?.value }}  <ion-icon name="list-box" class="color-icon-nav"  float-end padding-left></ion-icon></h4>

          <ion-item-divider color="light">
            <h4>Detalhes</h4>
          </ion-item-divider>
          <ion-item *ngFor="let item of response?.responseItems"><small>{{ item.name }}</small>
            <br  *ngIf="!item?.haveItem"><small *ngIf="!item?.haveItem"> nâo tem o produto</small>
            <small *ngIf="item?.haveItem">{{ item.amount }}</small>
            <br *ngIf="item?.haveItem"> <small *ngIf="item?.haveItem"> valor unitario {{ item?.unityValue }} valor total {{ item?.totalValue }}</small> </ion-item>

        </ion-item>
      </div>

      <ion-item-divider color="light" (click)="toggleCompanies()">
        <h4>Lojas</h4>
        <small>{{ budget?.companies.length }} lojas na area</small>
      </ion-item-divider>
      <div *ngIf="showCompanies">
        <ion-item *ngFor="let company of budget?.companies">
          <ion-avatar item-start>
            <img [src]="company.imageUrl || 'http://www.moorelawpllc.com/wp-content/uploads/2012/09/default-person.jpg'">
          </ion-avatar>

          <ion-item no-lines (click)="companyDetail(company.id)" no-padding>
            <h3>{{company.name}} <ion-icon name="list-box" class="color-icon-nav"  float-end padding-left></ion-icon></h3>
          </ion-item>
        </ion-item>
      </div>

    </ion-item-group>

  </ion-grid>

</ion-content>
