<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> <span text-color="my-custom-color">Notificações</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-card *ngFor="let notification of notifications" (click)="detail(notification?.budgetId)">
    <ion-card-header>
      {{ notification?.title }}
    </ion-card-header>
    <ion-card-content>
      {{ notification?.message }}
    </ion-card-content>
  </ion-card>
</ion-content>
