<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="my-custom-color">
      <span text-color="my-custom-color">Alterar senha</span>
      <i (click)="changePassword()" class="material-icons color-icon-nav" float-end>
        done
      </i>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-item no-padding>
    <ion-label floating>Senha atual</ion-label>
    <ion-input type="password" [(ngModel)]="password.currentPassword"></ion-input>
  </ion-item>


  <ion-item no-padding>
    <ion-label floating>Nova senha</ion-label>
    <ion-input type="password" [(ngModel)]="password.password"></ion-input>
  </ion-item>

  <ion-item no-padding>
    <ion-label floating>Repetir nova senha</ion-label>
    <ion-input type="password" [(ngModel)]="password.samePassword"></ion-input>
  </ion-item>

</ion-content>
