<!--
  Generated template for the BudgetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><span text-color="my-custom-color">Orçamentos</span>
      <ion-icon name="options" class="color-icon-nav" (click)="presentSearchOptionsModal()" float-end padding-left></ion-icon>
      <ion-icon name="add" class="color-icon-nav" (click)="presentCreateBudgetModal()" float-end padding-left></ion-icon>
      <!-- <ion-icon name="search" float-end></ion-icon> -->
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding-right>
    <ion-refresher (ionRefresh)="getItems($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Solte para atualizar" refreshingSpinner="circles"
          refreshingText="Carregando..."></ion-refresher-content>
      </ion-refresher>
  <div class="super-content">
    <div class="timeline">
      <ul>
        <li *ngIf="budgets.length == 0" style="text-align: center;padding-top: 50px"> Não há orçamentos para exibir :(</li>
        <li *ngFor="let budget of budgets" (click)="detail(budget.id)">
          <div class="bullet blue"></div>
          <div class="desc">
            <h4 [style.color]="budget?.isOpen ? '#5da3ee' : 'orange'">{{ budget?.isOpen ? "Em aberto" : "Fechado" }}</h4>
            <small>Melhor proposta {{ budget?.bestProposal || 'R$0.00' }}</small>
            <small text-right>&ensp;&ensp;{{ budget?.createdAt || '28/04/1997 16:03' }}</small>
          </div>
        </li>
      </ul>
    </div>
  </div>

</ion-content>
