page-budget {

    $black: #202020;
    $white: #fff;
    $dark-grey: #808080;
    $light-grey: #d9d9d9;
    $purple: #B97CFC;
    $pink: #F93B69;
    $green: #B0E8E2;
    $orange: #EB8B6E;
    $blue: #5da3ee;
    
    small{
        color: rgb(134, 134, 134);
    }
    .super-content{
        &::before {
            content: ' ';
            height: 100%;
            width: 1px;
            background-color: $light-grey;
            position: absolute;
            top: 0;
            left: 2.5em;
            z-index: -1;
        }
    }

    .timeline {
        z-index: 99;
        ul {
            padding: 1em 0 0 2em;
            margin: 0;
            list-style: none;
            position: relative;
            &::before {
                content: ' ';
                height: 100%;
                width: 1px;
                background-color: $light-grey;
                position: absolute;
                top: 0;
                left: 2.5em;
                z-index: -1;
            }
        }
        li div {
            display: inline-block;
            margin: 1em 0; //vertical-align: top;
        }
        .bullet {
            width: 1em;
            height: 1em;
            box-sizing: border-box;
            border-radius: 50%;
            background: $white;
            z-index: 1;
            margin-right: 1em;
            &.pink {
                border: 2px solid $pink;
            }
            &.green {
                border: 2px solid $green;
            }
            &.blue {
                border: 2px solid $blue;
            }
        }   
        
    }
}