<!--
  Generated template for the CompanyDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Dados da loja</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>


  <ion-row class="form-box" padding-top >
    <ion-item no-lines style="width: 100%;text-align: center;" >
      <img class="center-image" height="100px" src="{{ company?.imageUrl || 'http://www.moorelawpllc.com/wp-content/uploads/2012/09/default-person.jpg' }}">

      <h2>{{ company?.name }}</h2>
      <h3>{{ company?.email }}</h3>
    </ion-item>
  </ion-row>

  <ion-row>
    <ion-col col-12>
      <p>{{ company?.phoneNumber }}</p>
    </ion-col>
    <ion-col col-12>
      <p>{{ company?.address.city }}</p>
    </ion-col>
    <ion-col col-12>
      <p>{{ company?.address.uf }}</p>  <p>{{ company?.address.cep }}</p>
    </ion-col>
    <ion-col col-12>
      <p>{{ company?.address.street }}</p>
    </ion-col>
    <ion-col col-12>
      <p>{{ company?.address.neighborhood }}</p>
    </ion-col>


    <button ion-button (click)="openInMaps()">Maps</button>
  </ion-row>



</ion-content>
