<!--
  Generated template for the MyAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Minha Conta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-row class="form-box" padding-top >
    <ion-item no-lines style="width: 100%;text-align: center;" >
      <h2>{{ user?.name }}</h2>
      <h3>{{ user?.email }}</h3>
    </ion-item>
  </ion-row>

  <ion-row class="form-box" padding-top >
    <ion-item no-lines style="width: 100%;text-align: center;" >
      <h2>{{ user?.name }}</h2>
      <h3>{{ user?.email }}</h3>
    </ion-item>
  </ion-row>


</ion-content>
