<!--
  Generated template for the CreateBudgetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <span text-color="my-custom-color">Novo Orçamento</span>
      <ion-icon name="close" class="color-icon-nav" (click)="dismiss()" float-end padding-left></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-row class="form-box">
    <ion-col col-12 padding-left padding-right>
      <ion-item no-padding>
        <ion-label floating>Produto</ion-label>
        <ion-input type="text" [(ngModel)]="item.name"></ion-input>
      </ion-item>
      <ion-item no-padding>
        <ion-label floating>Quantidade</ion-label>
        <ion-input type="number" [(ngModel)]="item.amount"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-12>
      <button class="btn-actions btn-add" ion-button color="blue" center (click)="addItem()" round> <ion-icon name="add"></ion-icon>&nbsp;&nbsp;Adicionar</button>
    </ion-col>
  </ion-row>

  <ion-row>
    <div class="aux" padding>
      <p class="acording-color fix">Produtos do orçamento</p>
      <small class="acording-color">{{ items.length }} produtos</small>
    </div>

    <ion-item no-lines class="card item-budget" *ngFor="let item of items; let i = index">
      <small>{{ item.amount }} {{ item.name }} </small>
      <ion-icon name="trash" style="color: orange;" (click)="removeItem(i)" float-end padding-left></ion-icon>
    </ion-item>
  </ion-row>

  <button [hidden]="keyboard.isOpen()" *ngIf="items.length != 0" class="btn-actions btn-create" ion-button color="blue" (click)="createBudget()" round>Criar
    orçamento</button>

</ion-content>