page-create-budget {

    $flat-blue: #EFF4F8;
    $blue: #5da3ee;

    ion-header {
        &:after {
            background-image: none;
        }
    }
    
    .form-box {
        background-color: white;
        padding: 0px 0px 25px 0px;
    }
    .aux {
        background-color: $flat-blue !important;
    }
    .btn-add {
        position: absolute !important;
        bottom: 0px;
        margin-bottom: -43px;
    }
    .acording-color {
        color: rgb(134, 134, 134);
    }
    .fix {
        margin-bottom: -1px;
    }
    ion-content {
        background-color: $flat-blue !important;
        padding-bottom: 25px;
    }
    .btn-create {
        position: fixed !important;
        bottom: 2px;
    }
    .item-budget {
        border-radius: 5px;
        margin: 10px 20px 0px 20px;
        &:last-child {
            margin-bottom: 30px;
        }
    }
}