<!--
  Generated template for the ConfigurationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="my-custom-color">
      <span text-color="my-custom-color">Configurações</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <ion-item-group class="my-card">
    <ion-item>
      <ion-range min="5" max="200" [(ngModel)]="config.rangeKm">
        <ion-label range-right>{{ config?.rangeKm}} Km </ion-label>
      </ion-range>
    </ion-item>
  </ion-item-group>

  <ion-item-group class="my-card">
    <ion-item  (click)="changePersonalDataPage()">Alterar dados pessoais</ion-item>
  </ion-item-group>

  <ion-item-group class="my-card">
    <ion-item  (click)="changePasswordPage()">Alterar senha</ion-item>
  </ion-item-group>

  <ion-item-group class="my-card">
    <ion-item  (click)="logout()">Sair da conta</ion-item>
  </ion-item-group>
</ion-content>
